html {
    color: $brandBlack;
    font-family: 'helvetica', sans-serif;
    overflow: hidden;
}

a {
    cursor: pointer;
}

.siteNavSubList {
    display: none;
}

span {
    &.siteNavItemTitle, 
    &.siteHeaderNavItemTitle {
        display: none;
    }
}

form {
    padding: 0 10px;

    > * {
        box-sizing: border-box;
        display: block;
        margin-top: 10px;
        width: 100%;
    }
}
