html {
    color: $brandBlack;
    font-family: 'helvetica', sans-serif;
    overflow: hidden;
}

.siteNavSubList {
    display: none;
}

span {
    &.siteNavItemTitle, 
    &.siteHeaderNavItemTitle {
        display: none;
    }
}
