<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        <link href="/stylesheets/style.min.css" rel="stylesheet">
        <script src="/javascripts/script.min.js"></script>
    </head>
    <body>